body {
  color: #000;
  font-family:'PT Mono', monospace;
  margin: 0% 0%;
  padding: 0%;
}

header {
  background-color: #2EA7E0;
  height:20%;
  overflow: auto;
  padding: 3px;
  width: 100%;
}

h2 {
  color: #FFF;
}

header img {
  display: inline-block;
  float: left;
  padding: 1% 3% 1% 40%;
}

div {
  background-image: url("views/background.jpg");
  background-color: #fff;
  display: flex;
}

div section {
  border: 1px solid #A3B0B3;
  background-color: #FFF;
}

textarea {
  border: none;
}

.left  {
  margin:3% 0% 3% 15%;
  padding: 2% 2%;
  width: 45%;
}

.left hr {
  border: .5px dotted #000;
}

.right {
  margin: 3% 10% 3% 10%;
  padding: 2% 3%;
}

.right hr {
  border: 1px solid #6fa390;
}

.green {
  color:#1f8ba7;
}

div .textcounter p {
  margin-left: 90%;
}

button {
  border-radius:5px;
  width: 25%;
  height: 20%;
  font-family: 'PT Mono', monospace;
}

/*button:hover {
  color: #FFF;
  background-color:#2EA7E0;
}*/

button p {
  text-align: center;
  margin-top: 15%;
}

#tweets {
  margin: 5% 15%;
  width: 75%;
  height: 150px;
  border: .5px solid gray;
}
